In [1]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame with Nan\n",df)
print("Dropped DataFrame\n",df.dropna())
print("\n")

Original DataFrame with Nan
         one       two     three
a  0.127311 -0.613590  0.448786
b       NaN       NaN       NaN
c  0.436648 -0.701026 -0.905926
d -0.811234  0.417327  0.130138
e       NaN       NaN       NaN
f  0.291548 -0.296653 -0.550374
Dropped DataFrame
         one       two     three
a  0.127311 -0.613590  0.448786
c  0.436648 -0.701026 -0.905926
d -0.811234  0.417327  0.130138
f  0.291548 -0.296653 -0.550374

In [2]:
print("NaN replaced with 0:\n",df.fillna(0))
print("\n")

NaN replaced with 0:
         one       two     three
a  0.127311 -0.613590  0.448786
b  0.000000  0.000000  0.000000
c  0.436648 -0.701026 -0.905926
d -0.811234  0.417327  0.130138
e  0.000000  0.000000  0.000000
f  0.291548 -0.296653 -0.550374

In [6]:
df=pd.DataFrame({'one':[10,20,30,40,50],'two':[60,70,80,90,100]})
print("Original DataFrame:\n",df)
print("\n DataFrame with replaced values: \n")
print(df.replace({10:5,80:3}))

Original DataFrame:
    one  two
0   10   60
1   20   70
2   30   80
3   40   90
4   50  100

 DataFrame with replaced values:

   one  two
0    5   60
1   20   70
2   30    3
3   40   90
4   50  100

In [8]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame with Nan\n",df)
print("\n NaN with true fill:\n")
print(df['one'].isnull())

Original DataFrame with Nan
         one       two     three
a -1.330454  0.303751  0.539430
b       NaN       NaN       NaN
c  1.063962  0.987635  2.092964
d  1.113452  1.990901  0.152980
e       NaN       NaN       NaN
f  1.898381 -0.545069 -0.006703

 NaN with true fill:

a    False
b     True
c    False
d    False
e     True
f    False
Name: one, dtype: bool

In [9]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame with Nan\n",df)
print("NaN filled with Background values:\n")
print(df.bfill())

Original DataFrame with Nan
         one       two     three
a -0.131132 -0.951823  0.693019
b       NaN       NaN       NaN
c -1.698038 -0.311287  1.468003
d  0.170491 -0.867951  0.585571
e       NaN       NaN       NaN
f  3.429957  0.386341 -0.900398
NaN filled with Background values:

        one       two     three
a -0.131132 -0.951823  0.693019
b -1.698038 -0.311287  1.468003
c -1.698038 -0.311287  1.468003
d  0.170491 -0.867951  0.585571
e  3.429957  0.386341 -0.900398
f  3.429957  0.386341 -0.900398