In [ ]:
import pandas as pd
d1={'name':['Sai','Sub','Poo'],'age':[20,21,22]}
d2={'qualified':[True,True,False]}
df1=pd.DataFrame(d1)
print("df1:\n",df1)
df2=pd.DataFrame(d2)
print("df2:\n",df2)
newdf=df1.join(df2)
print("Joining:\n",newdf)

df1:
   name  age
0  Sai   20
1  Sub   21
2  Poo   22
df2:
    qualified
0       True
1       True
2      False
Joining:
   name  age  qualified
0  Sai   20       True
1  Sub   21       True
2  Poo   22      False

In [ ]:
df1=pd.DataFrame([[11,12],[3,4]])
df2=pd.DataFrame([[5,6],[7,8]])
def myfunc(a,b):
  if (a.sum()>b.sum()):
    return a
  else:
    return b
print(df1)
print(df2)
print(df1.combine(df2,myfunc))

    0   1
0  11  12
1   3   4
   0  1
0  5  6
1  7  8
    0   1
0  11  12
1   3   4

In [ ]:
d1={'name':['Sai','Sub','Poo'],'age':[20,21,22]}
d2={"name":["Yuvi","Rithika","Sanjay"],"age":[20,21,22]}
df1=pd.DataFrame(d1)
print("df1:\n",df1)
df2=pd.DataFrame(d2)
print("df2:\n",df2)
newdf1=df2.merge(df1,on="age")
newdf2=df1.merge(df2,on="age")
print("Merge:\n",newdf1)
print("Merge:\n",newdf2)

df1:
   name  age
0  Sai   20
1  Sub   21
2  Poo   22
df2:
       name  age
0     Yuvi   20
1  Rithika   21
2   Sanjay   22
Merge:
     name_x  age name_y
0     Yuvi   20    Sai
1  Rithika   21    Sub
2   Sanjay   22    Poo
Merge:
   name_x  age   name_y
0    Sai   20     Yuvi
1    Sub   21  Rithika
2    Poo   22   Sanjay

In [ ]:
df=pd.DataFrame({"team":['A','B','C','D'],'Points':[90,56,78,88],'assists':[12,34,23,44],"rebound":[56,43,55,12]})
print(df)
df=pd.melt(df,id_vars="team",value_vars=["Points","assists","rebound"])
print("\nReshaped DataFrame:\n",df)

  team  Points  assists  rebound
0    A      90       12       56
1    B      56       34       43
2    C      78       23       55
3    D      88       44       12

Reshaped DataFrame:
    team variable  value
0     A   Points     90
1     B   Points     56
2     C   Points     78
3     D   Points     88
4     A  assists     12
5     B  assists     34
6     C  assists     23
7     D  assists     44
8     A  rebound     56
9     B  rebound     43
10    C  rebound     55
11    D  rebound     12