In [7]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
d=pd.read_csv('/content/drive/My Drive/Colab Notebooks/data.csv')
print(d)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
    Emp ID First Name Last Name Gender  Salary
0   677509       Lois    Walker      F  168251
1   940761     Brenda  Robinson      F   51063
2   428945        Joe  Robinson      M   50155
3   408351      Diane     Evans      F  180294
4   193819   Benjamin   Russell      M  117642
..     ...        ...       ...    ...     ...
95  639892       Jose      Hill      M  129774
96  704709     Harold    Nelson      M  156194
97  461593     Nicole      Ward      F   95673
98  392491    Theresa    Murphy      F   51015
99  495141      Tammy     Young      F   93650

[100 rows x 5 columns]

In [10]:
df=pd.DataFrame(d)
print("Columns:",df.columns)
print(df.shape)

Columns: Index(['Emp ID', 'First Name', 'Last Name', 'Gender', 'Salary'], dtype='object')
(100, 5)

In [11]:
print("\nSalary\n",df["Salary"])

Salary
 0     168251
1      51063
2      50155
3     180294
4     117642
       ...
95    129774
96    156194
97     95673
98     51015
99     93650
Name: Salary, Length: 100, dtype: int64

In [12]:
print(df[5:9])

   Emp ID First Name Last Name Gender  Salary
5  499687    Patrick    Bailey      M   72305
6  539712      Nancy     Baker      F   98189
7  380086      Carol    Murphy      F   60918
8  477616    Frances     Young      F  121587

In [21]:
print(d.loc[d["Salary"]==72305])

   Emp ID First Name Last Name Gender  Salary
5  499687    Patrick    Bailey      M   72305