In [1]:
import pandas as pd
import numpy as np
print("DataFrame.applyfunction:\n")
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n Original DataFrame:\n",info)
print("\n Squareroot of DataFrame:\n",info.apply(np.sqrt))
print("\n sum of each column:\n",info.apply(np.sum,axis=0))
print("\n sum of each row:\n",info.apply(np.sum,axis=1))

DataFrame.applyfunction:


 Original DataFrame:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 Squareroot of DataFrame:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 sum of each column:
 S    12
R    36
dtype: int64

 sum of each row:
 0    12
1    12
2    12
3    12
dtype: int64

In [2]:
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['x','y','z'])
print("\n Orginal DataFrame : \n",info)
print("\n Minimum and maximum of each colum:\n")
print(info.agg(['min','max']))

 Orginal DataFrame :
    x  y  z
0  2  4  6
1  1  3  5
2  5  8  7

 Minimum and maximum of each colum:

     x  y  z
min  1  3  5
max  5  8  7

In [3]:
import pandas as pd
import numpy as np
print("\n DataFrame.Assign function : \n")
d2=pd.DataFrame([['Balaji',88],['Ronaldo',70]])
col=(['Emp','ID'])
print("\n Original DataFrame: \n",d2)
d2['Age']=[20,18]
print("\n Adding new column: \n",d2)
d=d2.assign(sex=['Male','Male'])
print("\n Adding new column: \n",d)

 DataFrame.Assign function :


 Original DataFrame:
          0   1
0   Balaji  88
1  Ronaldo  70

 Adding new column:
          0   1  Age
0   Balaji  88   20
1  Ronaldo  70   18

 Adding new column:
          0   1  Age   sex
0   Balaji  88   20  Male
1  Ronaldo  70   18  Male

In [4]:
print("\n dataframe sort function:\n")
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['A','B'])
print(info)
info2=info.sort_index()
print("\n sort index:\n",info2)
info3=info.sort_values(by='A')
print("\n sort values:\n",info3)

 dataframe sort function:

          A         B
3  0.101001 -0.579964
2 -0.755522  0.089078
0  0.086192 -0.090367
4 -0.602935  0.604508
1  0.348549  1.327037

 sort index:
           A         B
0  0.086192 -0.090367
1  0.348549  1.327037
2 -0.755522  0.089078
3  0.101001 -0.579964
4 -0.602935  0.604508

 sort values:
           A         B
2 -0.755522  0.089078
4 -0.602935  0.604508
0  0.086192 -0.090367
3  0.101001 -0.579964
1  0.348549  1.327037

In [5]:
print("\n dataframe merge function:\n")
left=pd.DataFrame({'id':[1,2,3,4],
 'name':['sai','ravi','poo','yash'],
 'sub':['sub1','sub2','sub4','sub3']})
right=pd.DataFrame({'id':[1,2,3,4],
 'name':['sanjay','ram','selvin','raju'],
 'sub':['sub1','sub4','sub3','sub2']})
print(left)
print(right)
print(pd.merge(left,right,on='id'))

 dataframe merge function:

   id  name   sub
0   1   sai  sub1
1   2  ravi  sub2
2   3   poo  sub4
3   4  yash  sub3
   id    name   sub
0   1  sanjay  sub1
1   2     ram  sub4
2   3  selvin  sub3
3   4    raju  sub2
   id name_x sub_x  name_y sub_y
0   1    sai  sub1  sanjay  sub1
1   2   ravi  sub2     ram  sub4
2   3    poo  sub4  selvin  sub3
3   4   yash  sub3    raju  sub2