<a href="https://colab.research.google.com/github/SriKrishna-GH/PYML_230901097/blob/main/ts3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
dates = [datetime(2011, 1, 2),datetime(2011, 1, 5),datetime(2011, 1, 7),datetime(2011, 1, 8),datetime(2011, 1, 10),datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
print("Date Index \n",ts)

Date Index
 2011-01-02    0.581621
2011-01-05    0.965873
2011-01-07    0.041435
2011-01-08    1.357312
2011-01-10   -0.933515
2011-01-12   -0.003491
dtype: float64

In [2]:
print("\nDate Index alone from the series: \n",ts.index)

Date Index alone from the series:
 DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [3]:
stamp=ts.index[2]
print("\nSecond index:\n", stamp)

Second index:
 2011-01-07 00:00:00

In [4]:
longer_ts=pd.Series(np.random.randn(1000),index=pd.date_range("2000-01-01",periods=1000))
print("\nDaterange up to 1000 days:\n",longer_ts)

Daterange up to 1000 days:
 2000-01-01   -1.574935
2000-01-02   -1.271193
2000-01-03   -0.271654
2000-01-04    0.524576
2000-01-05   -0.596533
                ...
2002-09-22    0.918583
2002-09-23    1.808973
2002-09-24    0.716705
2002-09-25   -0.611768
2002-09-26   -0.559522
Freq: D, Length: 1000, dtype: float64

In [5]:
print("\nDate range-2001 year:\n", longer_ts["2001"])

Date range-2001 year:
 2001-01-01   -0.257196
2001-01-02   -0.660300
2001-01-03    1.378148
2001-01-04    0.290566
2001-01-05    0.914799
                ...
2001-12-27   -1.301675
2001-12-28   -0.650178
2001-12-29   -2.078811
2001-12-30   -0.545323
2001-12-31   -1.327143
Freq: D, Length: 365, dtype: float64

In [6]:
print("\nDate range-05 month 2001 year:\n", longer_ts["2001-05"])

Date range-05 month 2001 year:
 2001-05-01   -0.270159
2001-05-02   -0.148932
2001-05-03   -0.578729
2001-05-04   -0.050723
2001-05-05   -1.809417
2001-05-06    1.948404
2001-05-07   -1.348249
2001-05-08   -0.869017
2001-05-09   -0.275458
2001-05-10   -0.195441
2001-05-11    0.132961
2001-05-12   -0.210299
2001-05-13    1.029160
2001-05-14    1.173437
2001-05-15    0.307339
2001-05-16   -0.717552
2001-05-17    0.266447
2001-05-18    1.239593
2001-05-19   -1.363540
2001-05-20   -0.819424
2001-05-21   -0.314285
2001-05-22   -0.471631
2001-05-23    0.334367
2001-05-24    0.028725
2001-05-25   -0.100895
2001-05-26    0.674677
2001-05-27    0.011069
2001-05-28    1.897680
2001-05-29    0.112398
2001-05-30   -0.691308
2001-05-31    0.665578
Freq: D, dtype: float64

In [7]:
print("\nDate range-first few dates in 2000 year:\n",longer_ts["2000"].head())

Date range-first few dates in 2000 year:
 2000-01-01   -1.574935
2000-01-02   -1.271193
2000-01-03   -0.271654
2000-01-04    0.524576
2000-01-05   -0.596533
Freq: D, dtype: float64

In [8]:
print("\nDate range-first 15 dates in 02 month 2001 year:\n",longer_ts["2000-02"].head(15))

Date range-first 15 dates in 02 month 2001 year:
 2000-02-01   -1.122456
2000-02-02   -0.302579
2000-02-03   -0.595495
2000-02-04    0.866676
2000-02-05    0.595017
2000-02-06   -0.268590
2000-02-07   -0.483526
2000-02-08   -0.115444
2000-02-09    1.033045
2000-02-10   -0.648375
2000-02-11   -0.029729
2000-02-12   -0.488485
2000-02-13   -0.614215
2000-02-14    0.176188
2000-02-15    0.322099
Freq: D, dtype: float64

In [9]:
print("\nDate range from 26-9-2001:\n",longer_ts[datetime(2000,9,26):])

Date range-rom 26-9-2001:
 2000-09-26    1.499680
2000-09-27    0.562919
2000-09-28   -0.232456
2000-09-29   -0.401143
2000-09-30    0.207105
                ...
2002-09-22    0.918583
2002-09-23    1.808973
2002-09-24    0.716705
2002-09-25   -0.611768
2002-09-26   -0.559522
Freq: D, Length: 731, dtype: float64

In [10]:
print("\nDate range from 26-9-2001 to 25-9- 2002:\n",longer_ts[datetime(2001,9,26):datetime(2002,9,25)])

Date range from 26-9-2001 to 25-9- 2002:
 2001-09-26   -1.129408
2001-09-27   -0.061803
2001-09-28   -0.680525
2001-09-29   -1.922971
2001-09-30    0.915164
                ...
2002-09-21    0.084933
2002-09-22    0.918583
2002-09-23    1.808973
2002-09-24    0.716705
2002-09-25   -0.611768
Freq: D, Length: 365, dtype: float64